.container {
    display: flex;
    width: 1550px;
    height: 900px;
    border-radius: 5%;
    position: relative;
     background-color: rgba(118,123,163,0.5);
     box-shadow: 0 0 15px 10px rgb(92, 96, 126);
     left: 9%;
     margin-top: 45px;
     right: auto;
     max-width: 100%;
}